<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h1>Authentication</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header">
                    Identity server sign-in
                </div>
                <div class="card-body">
                    <form >
                        <div class="form-group">
                            <label for="userName">Username</label>
                            <input type="text" [(ngModel)]="userName" class="form-control"
                                id="userName" name="userName" required maxlength="30">
                        </div>
                        <div class="form-group">
                            <label for="password">Password</label>
                            <input type="password" [(ngModel)]="password" class="form-control"
                                id="password" name="password" required maxlength="30">
                        </div>
                        <div class="form-group">
                            <button class="btn btn-primary btn-block" (click)="signIn()">
                                Sign-in
                            </button>
                        </div>
                    </form>
                </div>
                <div class="card-footer" *ngIf="token">
                    access token expiration: {{token.expiration}}
                </div>
            </div>
        </div>
    </div>
    <div class="row" *ngIf="token">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header">
                    Sample data
                </div>
                <div class="card-body">
                    <button class="btn btn-danger btn-block" (click)="getSampleData()">
                        Retrieve sample data
                    </button>
                </div>
                <div class="card-footer" *ngIf="sampleData">
                    Data from resource server: {{sampleData.title}}
                </div>
            </div>
        </div>
    </div>
</div>
